/*!**************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./resources/scss/embed.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
body {
  --wp--preset--color--black: #000000;
  --wp--preset--color--white: #ffffff;
  --wp--preset--font-size--small: var(--wp--preset--font-size--xs);
  --wp--preset--font-size--medium: var(--wp--preset--font-size--md);
  --wp--preset--font-size--large: var(--wp--preset--font-size--2-xl);
  --wp--preset--font-size--x-large: var(--wp--preset--font-size--3-xl);
  --wp--preset--spacing--20: var(--wp--preset--spacing--minus-2);
  --wp--preset--spacing--30: var(--wp--preset--spacing--minus-1);
  --wp--preset--spacing--40: var(--wp--preset--spacing--base);
  --wp--preset--spacing--50: var(--wp--preset--spacing--plus-1);
  --wp--preset--spacing--60: var(--wp--preset--spacing--plus-3);
  --wp--preset--spacing--70: var(--wp--preset--spacing--plus-4);
  --wp--preset--spacing--80: var(--wp--preset--spacing--plus-6);
}

a:where(:not(:focus)),
input[type=submit],
input:focus,
textarea:focus {
  transition: 0.5s ease-in-out;
  transition-property: color, background-color, border-color, outline-color;
}

a {
  text-underline-offset: 0.078125em !important;
  text-decoration-thickness: min(0.078125em, 3px) !important;
}
a img {
  transition: box-shadow 0.5s ease-in-out;
}
a:hover img:where(:not(.avatar)) {
  box-shadow: var(--wp--preset--shadow--enlarge);
}
.is-style-borderless a:focus {
  outline: none;
}

audio,
video {
  display: block;
}

blockquote cite::before {
  content: "– ";
}

.wp-element-caption {
  text-align: center;
}

abbr[title] {
  cursor: help;
  -webkit-text-decoration: currentColor underline dotted min(0.078125em, 3px);
          text-decoration: currentColor underline dotted min(0.078125em, 3px);
  text-underline-offset: 0.078125em;
}

:where(:not(pre) > code) {
  padding: var(--wp--custom--elements--code--padding, 0);
  font-family: var(--wp--custom--elements--code--font-family, monospace);
  font-style: var(--wp--custom--elements--code--font-style, normal);
  font-weight: var(--wp--custom--elements--code--font-weight, inherit);
  line-height: var(--wp--custom--elements--code--line-height, inherit);
  font-size: var(--wp--custom--elements--code--font-size, inherit);
  color: var(--wp--custom--elements--code--color, inherit);
  background: var(--wp--custom--elements--code--background, transparent);
  border-color: var(--wp--custom--elements--code--border-color, transparent);
  border-style: var(--wp--custom--elements--code--border-style, solid);
  border-width: var(--wp--custom--elements--code--border-width, 0);
  border-radius: var(--wp--custom--elements--code--border-radius, 0);
  box-shadow: var(--wp--custom--elements--code--shadow, none);
}

del,
s {
  color: var(--wp--custom--elements--del--color, inherit);
  -webkit-text-decoration: var(--wp--custom--elements--del--text-decoration, currentColor line-through solid clamp(2px, 0.125em, 0.125em));
          text-decoration: var(--wp--custom--elements--del--text-decoration, currentColor line-through solid clamp(2px, 0.125em, 0.125em));
}

:where(figure) {
  margin: 0;
}

img:where(:not(.avatar)) {
  border-color: var(--wp--custom--elements--img--border-color, transparent);
  border-style: var(--wp--custom--elements--img--border-style, solid);
  border-width: var(--wp--custom--elements--img--border-width, 0);
  box-shadow: var(--wp--custom--elements--img--shadow, none);
}

ins {
  color: var(--wp--custom--elements--ins--color, inherit);
  -webkit-text-decoration: var(--wp--custom--elements--ins--text-decoration, currentColor underline solid max(1px, 0.0625em));
          text-decoration: var(--wp--custom--elements--ins--text-decoration, currentColor underline solid max(1px, 0.0625em));
  text-underline-offset: 4px;
}

kbd {
  white-space: nowrap;
  padding: var(--wp--custom--elements--kbd--padding, 0);
  font-family: var(--wp--custom--elements--kbd--font-family, monospace);
  font-style: var(--wp--custom--elements--kbd--font-style, normal);
  font-weight: var(--wp--custom--elements--kbd--font-weight, inherit);
  line-height: var(--wp--custom--elements--kbd--line-height, inherit);
  font-size: var(--wp--custom--elements--kbd--font-size, inherit);
  color: var(--wp--custom--elements--kbd--color, inherit);
  background: var(--wp--custom--elements--kbd--background, transparent);
  border-color: var(--wp--custom--elements--kbd--border-color, transparent);
  border-style: var(--wp--custom--elements--kbd--border-style, solid);
  border-width: var(--wp--custom--elements--kbd--border-width, 0);
  border-radius: var(--wp--custom--elements--kbd--border-radius, 0);
  box-shadow: var(--wp--custom--elements--kbd--shadow, none);
}

mark {
  padding: var(--wp--custom--elements--mark--padding, 0);
}

mark:where(:not(.has-inline-color):not([style])) {
  font-family: var(--wp--custom--elements--mark--font-family, inherit);
  font-style: var(--wp--custom--elements--mark--font-style, inherit);
  font-weight: var(--wp--custom--elements--mark--font-weight, inherit);
  line-height: var(--wp--custom--elements--mark--line-height, inherit);
  font-size: var(--wp--custom--elements--mark--font-size, inherit);
  color: var(--wp--custom--elements--mark--color, currentColor);
  background: var(--wp--custom--elements--mark--background, transparent);
  border-color: var(--wp--custom--elements--mark--border-color, transparent);
  border-style: var(--wp--custom--elements--mark--border-style, solid);
  border-width: var(--wp--custom--elements--mark--border-width, 0);
  border-radius: var(--wp--custom--elements--mark--border-radius, 0);
  box-shadow: var(--wp--custom--elements--mark--shadow, none);
}

:where(h1, h2, h3, h4, h5 h6) > mark {
  line-height: 1.625em;
  padding: 0;
}

sup,
sub {
  font-size: 0.8125em;
  line-height: 0;
}
sup a,
sub a {
  text-decoration: none;
  outline: none;
}

:is([class*=is-style-section-]) :where(del, s, ins, kbd) {
  color: currentColor;
  text-decoration-color: currentColor;
}
:is([class*=is-style-section-]) kbd {
  border-color: currentColor;
  background: transparent;
}

.wp-embed-responsive {
  --font-family: var(--wp--custom--embed--font-family, system-ui);
  --font-size: var(
  	--wp--custom--embed--font-family,
  	var(--wp--preset--font-size--md)
  );
  --line-height: var(
  	--wp--custom--embed--line-height,
  	var(--wp--custom--line-height--sm)
  );
  --color: var(--wp--custom--embed--color, var(--wp--preset--color--contrast));
  --background: var(
  	--wp--custom--embed--background,
  	var(--wp--preset--color--base)
  );
  --link-color: var(--wp--custom--embed--link-color, currentColor);
  --link-hover-color: var(
  	--wp--custom--embed--link-hover-color,
  	var(--wp--preset--color--primary-700)
  );
  --border-color: var(
  	--wp--custom--embed--border-color,
  	var(--wp--preset--color--neutral-100)
  );
  --border-style: var(--wp--custom--embed--border-style, solid);
  --border-width: var(--wp--custom--embed--border-width, 1px);
  --border-radius: var(
  	--wp--custom--embed--border-radius,
  	var(--wp--custom--global--border--radius)
  );
  --shadow: var(--wp--custom--embed--shadow, var(--wp--custom--global--shadow));
}

.wp-embed-share-dialog {
  --color: var(--wp--custom--embed--background, var(--wp--preset--color--base));
  --background: var(
  	--wp--custom--embed--color,
  	var(--wp--preset--color--contrast)
  );
}

html {
  font-size: 16px;
}

.wp-embed-responsive .wp-embed,
.wp-embed-responsive .wp-embed-share-dialog {
  overflow: hidden;
  padding: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  border: var(--border-width) var(--border-style) var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

body {
  margin: 0 !important;
  padding: 0 !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.wp-embed {
  color: var(--color);
  background: var(--background);
}

.wp-embed a,
.wp-embed-heading a {
  color: var(--link-color);
}
.wp-embed a:hover, .wp-embed a:focus,
.wp-embed-heading a:hover,
.wp-embed-heading a:focus {
  text-decoration: underline;
  color: var(--link-hover-color);
}
.wp-embed a:hover > svg, .wp-embed a:focus > svg,
.wp-embed-heading a:hover > svg,
.wp-embed-heading a:focus > svg {
  fill: currentColor;
}

.wp-embed-featured-image img,
.wp-embed-featured-image a img {
  display: block;
  outline: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}

.wp-embed .wp-embed-heading {
  margin: var(--wp--style--block-gap) 0 0;
  padding: 0 var(--wp--style--block-gap);
  font-size: var(--wp--preset--font-size--xl);
  line-height: var(--wp--custom--line-height--xl);
  font-weight: 600;
}

.wp-embed-excerpt {
  padding: 0 var(--wp--style--block-gap);
  margin: var(--wp--preset--spacing--minus-3) 0 0;
}

.wp-embed-footer {
  width: auto;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--wp--style--block-gap);
  margin: var(--wp--style--block-gap) var(--wp--style--block-gap) 0;
  padding: var(--wp--preset--spacing--base) 0;
  border-top-color: var(--border-color);
  border-top-style: var(--border-style);
  border-top-width: min(2px, var(--border-width));
}

.wp-embed-site-title {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  font-weight: 600;
}
.wp-embed-site-title a {
  display: flex;
  align-items: center;
  gap: var(--wp--preset--spacing--minus-2);
  margin: 0;
  padding: 0;
}

.wp-embed-site-title a svg,
.wp-embed-site-icon {
  position: initial;
  width: 32px;
  height: 32px;
  transform: none;
}

.wp-embed-site-title svg {
  fill: currentColor;
}

.wp-embed-meta {
  display: flex;
  align-items: center;
  gap: var(--wp--preset--spacing--minus-2);
}

.wp-embed-comments a,
.wp-embed-share .wp-embed-share-dialog-open {
  font-size: inherit;
  margin: 0;
}
.wp-embed-comments a .dashicons,
.wp-embed-share .wp-embed-share-dialog-open .dashicons {
  display: none !important;
}

.wp-embed-comments a {
  display: flex;
  flex-wrap: wrap;
  gap: var(--wp--preset--spacing--minus-3);
  align-items: center;
}
.wp-embed-comments a::before {
  content: "";
  -webkit-mask: no-repeat 50% 50% url("data:image/svg+xml,<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24\" viewBox=\"0 -960 960 960\" width=\"24\"><path d=\"M240-400h480v-80H240v80Zm0-120h480v-80H240v80Zm0-120h480v-80H240v80ZM80-240v-640h800v800L720-240H80Z\"/></svg>");
          mask: no-repeat 50% 50% url("data:image/svg+xml,<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24\" viewBox=\"0 -960 960 960\" width=\"24\"><path d=\"M240-400h480v-80H240v80Zm0-120h480v-80H240v80Zm0-120h480v-80H240v80ZM80-240v-640h800v800L720-240H80Z\"/></svg>");
  -webkit-mask-size: cover;
          mask-size: cover;
  background: currentColor;
  display: inline-block;
  width: 1em;
  height: 1em;
}

.wp-embed-share-dialog-open {
  display: flex;
  flex-wrap: wrap;
  gap: var(--wp--preset--spacing--minus-3);
  align-items: center;
  color: var(--link-color);
}
.wp-embed-share-dialog-open::before {
  content: "";
  -webkit-mask: no-repeat 50% 50% url("data:image/svg+xml,<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24\" viewBox=\"0 -960 960 960\" width=\"24\"><path d=\"M720-80q-50 0-85-35t-35-85q0-7 1-14.5t3-13.5L322-392q-17 15-38 23.5t-44 8.5q-50 0-85-35t-35-85q0-50 35-85t85-35q23 0 44 8.5t38 23.5l282-164q-2-6-3-13.5t-1-14.5q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35q-23 0-44-8.5T638-672L356-508q2 6 3 13.5t1 14.5q0 7-1 14.5t-3 13.5l282 164q17-15 38-23.5t44-8.5q50 0 85 35t35 85q0 50-35 85t-85 35Z\"/></svg>");
          mask: no-repeat 50% 50% url("data:image/svg+xml,<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24\" viewBox=\"0 -960 960 960\" width=\"24\"><path d=\"M720-80q-50 0-85-35t-35-85q0-7 1-14.5t3-13.5L322-392q-17 15-38 23.5t-44 8.5q-50 0-85-35t-35-85q0-50 35-85t85-35q23 0 44 8.5t38 23.5l282-164q-2-6-3-13.5t-1-14.5q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35q-23 0-44-8.5T638-672L356-508q2 6 3 13.5t1 14.5q0 7-1 14.5t-3 13.5l282 164q17-15 38-23.5t44-8.5q50 0 85 35t35 85q0 50-35 85t-85 35Z\"/></svg>");
  -webkit-mask-size: cover;
          mask-size: cover;
  background: currentColor;
  display: inline-block;
  width: 1em;
  height: 1em;
}
.wp-embed-share-dialog-open:hover, .wp-embed-share-dialog-open:focus {
  color: var(--link-hover-color);
}

.wp-embed-share-dialog {
  color: var(--color);
  background: var(--background);
}

.wp-embed-share-dialog-text {
  padding: var(--wp--style--block-gap);
  margin: var(--wp--style--block-gap) 0 0;
}

.wp-embed-share-tabs {
  display: flex;
  align-items: center;
  gap: var(--wp--preset--spacing--plus-3);
  margin: 0;
}

.wp-embed-share-tab-button + .wp-embed-share-tab-button {
  margin: 0;
  padding: 0;
  border: none;
}

.wp-embed-share-tab-button button {
  transition: 0.5s ease-in-out;
  transition-property: color, border-color, opacity;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  opacity: 0.8;
  padding-bottom: 1px;
  border-bottom: 2px solid transparent;
}
.wp-embed-share-tab-button button:hover, .wp-embed-share-tab-button buttonbutton:focus, .wp-embed-share-tab-button button[aria-selected=true] {
  text-decoration: none;
  color: inherit;
  opacity: 1;
  border-bottom-color: currentColor;
}

.wp-embed-share-tab {
  margin: var(--wp--preset--spacing--minus-1) 0 0;
}

.wp-embed-share-input {
  display: block;
  margin: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: var(--wp--preset--spacing--minus-1);
  height: revert;
  font-family: var(--wp--preset--font-family--mono, ui-monospace, "Fira Code", "Cascadia Code", "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace);
  font-size: var(--wp--preset--font-size--sm);
  font-style: normal;
  font-weight: 400;
  line-height: var(--wp--custom--line-height--sm);
  color: var(--background);
  background: var(--color);
  border: 1px solid var(--background);
  border-radius: var(--border-radius);
}
.wp-embed-share-inputtextarea {
  height: var(--wp--preset--spacing--plus-10);
}
.wp-embed-share-input:focus {
  outline: 2px solid var(--color);
  outline-offset: 2px;
}

.wp-embed-share-tab .wp-embed-share-description {
  margin: var(--wp--preset--spacing--minus-1) 0 0;
  font-size: var(--wp--preset--font-size--sm);
  line-height: var(--wp--custom--line-height--sm);
  font-style: normal;
  color: inherit;
}

.wp-embed-share-dialog-close {
  top: var(--wp--style--block-gap);
  right: var(--wp--style--block-gap);
  font-size: inherit;
  color: var(--wp--preset--color--base);
  display: flex;
  flex-wrap: wrap;
  gap: var(--wp--preset--spacing--minus-3);
  align-items: center;
}
.wp-embed-share-dialog-close::before {
  content: "";
  -webkit-mask: no-repeat 50% 50% url("data:image/svg+xml,<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24\" viewBox=\"0 -960 960 960\" width=\"24\"><path d=\"m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z\"/></svg>");
          mask: no-repeat 50% 50% url("data:image/svg+xml,<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24\" viewBox=\"0 -960 960 960\" width=\"24\"><path d=\"m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z\"/></svg>");
  -webkit-mask-size: cover;
          mask-size: cover;
  background: currentColor;
  display: inline-block;
  width: 1em;
  height: 1em;
}
.wp-embed-share-dialog-close .dashicons {
  display: none !important;
}

/*# sourceMappingURL=embed.css.map*/